In [1]:
import pandas as pd

In [2]:
# read data
df = pd.read_csv('D:\MLProjects\BookCrane\src\dataset\BooksDatasetClean.csv')

In [3]:
df.shape

(103063, 8)

In [4]:
df.head(5)

,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,8.79,January,1993
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,4.99,March,1981
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,4.99,September,1983
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,4.99,April,1991
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,5.32,February,1997

In [5]:
def get_word_count(record):
    if isinstance(record, str):
        return len(record.lower().split(" "))
    else:
        return 0

### Simple Apply

In [8]:
%%time
df['word_count'] = df['Description'].apply(get_word_count)

CPU times: total: 1.25 s
Wall time: 1.63 s

In [30]:
df[df['word_count'] > 10][['Title','word_count']]

                                                    Title  word_count
7                              Journey Through Heartsongs          26
8                            In Search of Melancholy Baby          30
10           The Dieter's Guide to Weight Loss During Sex          70
11      Germs : Biological Weapons and America's Secre...         436
13      The Good Book: Reading the Bible with Mind and...          42
...                                                   ...         ...
103050                             Like A Sister: A Novel         326
103052  Creating Web Pages Simplified (3-D Visual Series)          33
103053               EVA: The Real Key to Creating Wealth         279
103056  The Essentials of Spanish (REA's Language Seri...          89
103062               Your First Puppy (Your First Series)          16

[69779 rows x 2 columns]

### Using Parallel Apply
Need to install package : `pip install pandarallel`
For more details :  https://towardsdatascience.com/4x-faster-pandas-operations-with-minimal-code-change-bc7079792184

In [18]:
from pandarallel import pandarallel

# Initialize pandarallel with a progress bar
pandarallel.initialize(progress_bar = True)

# Set the number of workers for parallelization. 
# By default, this is the number of cores available.
pandarallel.initialize(nb_workers = 30) 

# Initialize pandarallel with all logs printed.
# By default, this is 2 (display all logs), while 0 display n ologs.
pandarallel.initialize(verbose = 2)

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/
INFO: Pandarallel will run on 30 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/
INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [19]:
%%time
df['word_count'] = df.parallel_apply(get_word_count)

CPU times: total: 438 ms
Wall time: 4.05 s

### By using swifter
Need to istall package : `pip install swifter`
For More Details : https://medium.com/@jmcarpenter2/swiftapply-automatically-efficient-pandas-apply-operations-50e1058909f9

In [22]:
import pandas as pd
import swifter

In [23]:
%%time
df['word_count'] = df.swifter.apply(get_word_count)

Pandas Apply: 100%|██████████| 9/9 [00:00<?, ?it/s]

CPU times: total: 46.9 ms
Wall time: 282 ms